In [1]:
import pandas as pd
# json to csv
url = "https://raw.githubusercontent.com/AREEG94FAHAD/TaskComplexityEval-24/refs/heads/main/problems_data.jsonl"
df = pd.read_json(url, lines=True)
df.to_csv("Dataset.csv", index=False)
df.head(3)

,title,description,input_description,output_description,sample_io,problem_class,problem_score,url
0,Uuu,Unununium (Uuu) was the name of the chemical\n...,The input consists of one line with two intege...,The output consists of $M$ lines where the $i$...,"[{'input': '7 10', 'output': '1 2 2 3 1 3 3 4 ...",hard,9.7,https://open.kattis.com/problems/uuu
1,House Building,A number of eccentrics from central New York h...,"The input consists of $10$ test cases, which a...",Print $K$ lines with\n the positions of the...,"[{'input': '0 2 3 2 50 60 50 30 50 40', 'outpu...",hard,9.7,https://open.kattis.com/problems/husbygge
2,Mario or Luigi,Mario and Luigi are playing a game where they ...,,,"[{'input': '', 'output': ''}]",hard,9.6,https://open.kattis.com/problems/marioorluigi

In [2]:
data=pd.read_csv("Dataset.csv")
data["problem_class"].value_counts()

problem_class
hard      1941
medium    1405
easy       766
Name: count, dtype: int64

In [3]:
data.describe()

       problem_score
count    4112.000000
mean        5.114689
std         2.177770
min         1.100000
25%         3.300000
50%         5.200000
75%         6.900000
max         9.700000

In [4]:
data["problem_score"].value_counts()

problem_score
6.3    88
5.8    86
5.7    73
6.1    73
5.6    67
       ..
9.2    11
1.1     9
9.5     7
9.6     5
9.7     2
Name: count, Length: 87, dtype: int64

In [5]:
filt=df["problem_class"]=="hard"
data[filt]["problem_score"].value_counts()

problem_score
6.3    88
5.8    86
5.7    73
6.1    73
6.9    67
5.6    67
5.9    66
7.2    65
7.3    61
6.8    60
6.4    59
6.2    59
6.7    58
6.0    57
6.6    56
7.6    56
7.4    53
7.0    53
7.1    52
5.5    52
7.9    50
8.0    48
7.5    47
6.5    46
7.8    45
8.2    45
7.7    44
8.1    40
8.3    38
8.4    37
8.5    35
8.7    35
8.6    31
9.1    27
8.8    24
8.9    18
9.0    18
9.3    14
9.4    13
9.2    11
9.5     7
9.6     5
9.7     2
Name: count, dtype: int64

In [6]:
filt=df["problem_class"]=="medium"
data[filt]["problem_score"].value_counts()

problem_score
4.7    65
3.0    64
3.7    64
5.1    63
4.0    61
5.2    60
4.9    56
3.3    55
3.6    54
3.8    53
4.1    53
5.0    53
4.2    53
4.3    52
4.5    52
3.1    52
2.9    49
3.9    49
5.4    47
4.8    47
3.4    47
5.3    45
4.6    44
3.5    44
3.2    42
4.4    39
2.8    35
5.5     7
Name: count, dtype: int64

In [7]:
filt=df["problem_class"]=="easy"
data[filt]["problem_score"].value_counts()

problem_score
2.1    66
1.6    65
1.5    64
2.3    61
2.6    57
1.8    53
2.4    50
2.0    47
1.7    46
1.9    45
2.2    45
2.5    36
1.4    36
2.7    35
1.3    29
1.2    21
1.1     9
2.8     1
Name: count, dtype: int64

In [8]:
data["desc_length"] = data["description"].apply(
    lambda x: len(str(x).split())
)
median_lengths = data.groupby("problem_class")["desc_length"].median()
median_lengths

problem_class
easy      130.0
hard      193.0
medium    173.0
Name: desc_length, dtype: float64

In [9]:
median_scores = data.groupby("problem_class")["problem_score"].median()
median_scores

problem_class
easy      2.0
hard      7.0
medium    4.1
Name: problem_score, dtype: float64

In [10]:
data.fillna("", inplace=True)
data.head()

,title,description,input_description,output_description,sample_io,problem_class,problem_score,url,desc_length
0,Uuu,Unununium (Uuu) was the name of the chemical\n...,The input consists of one line with two intege...,The output consists of $M$ lines where the $i$...,"[{'input': '7 10', 'output': '1 2\n2 3\n1 3\n3...",hard,9.7,https://open.kattis.com/problems/uuu,200
1,House Building,A number of eccentrics from central New York h...,"The input consists of $10$ test cases, which a...",Print $K$ lines with\n the positions of the...,"[{'input': '0\n2 3 2\n50 60 50\n30 50 40', 'ou...",hard,9.7,https://open.kattis.com/problems/husbygge,184
2,Mario or Luigi,Mario and Luigi are playing a game where they ...,,,"[{'input': '', 'output': ''}]",hard,9.6,https://open.kattis.com/problems/marioorluigi,215
3,The Wire Ghost,Žofka is bending a copper wire. She starts wit...,The first line contains two integers $L$ and $...,The output consists of a single line consistin...,"[{'input': '4 3\n3 C\n2 C\n1 C', 'output': 'GH...",hard,9.6,https://open.kattis.com/problems/thewireghost,144
4,Barking Up The Wrong Tree,"Your dog Spot is let loose in the park. Well, ...",The first line of input consists of two intege...,Write a single line containing the length need...,"[{'input': '2 0\n10 0\n10 10', 'output': '14.1...",hard,9.6,https://open.kattis.com/problems/barktree,286

In [11]:
import re
def cleaning(text):
    text=text.lower()
    text=re.sub(r"\s+"," ", text)
    text=text.strip()
    return text

In [12]:
data["user_input"] = (
    "__TITLE__" + data["title"].apply(cleaning) + " " +
    "__DESCRIPTION__" + data["description"].apply(cleaning) + " " +
    "__INPUT__" + data["input_description"].apply(cleaning) + " "+
    "__OUTPUT__" + data["output_description"].apply(cleaning))
data["user_input"]

0       __TITLE__uuu __DESCRIPTION__unununium (uuu) wa...
1       __TITLE__house building __DESCRIPTION__a numbe...
2       __TITLE__mario or luigi __DESCRIPTION__mario a...
3       __TITLE__the wire ghost __DESCRIPTION__žofka i...
4       __TITLE__barking up the wrong tree __DESCRIPTI...
                              ...
4107    __TITLE__tölvunarfræðingar telja __DESCRIPTION...
4108    __TITLE__velkomin! __DESCRIPTION__welcome to f...
4109    __TITLE__til hamingju __DESCRIPTION__ __INPUT_...
4110    __TITLE__hipp hipp __DESCRIPTION__ __INPUT__th...
4111    __TITLE__advanced causal measurements __DESCRI...
Name: user_input, Length: 4112, dtype: object

In [13]:
import joblib
joblib.dump(data, "training_data.pkl")

['training_data.pkl']